.app {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
}

.react-contextmenu--visible {
    background: #7b1fa2;
    color: #fff;
    padding: 0;
}

.react-contextmenu-item {
    cursor: pointer;
    padding: 5px 10px;
}

.react-contextmenu-item:hover {
    background-color: #c8a2d8;
}