
/**
 * Os estilos da instância do elemento devem ser, em sua maioria, estilos inline
 * dinâmicos, vindos do state da aplicação.
 * Estas regras definidas aqui na folha de estilos têm motivos bem específicos,
 * e idealmente não devem ter muitas delas aqui.
 */

.instancia-elemento {

    /* A margem serve para que haja um espaçamento mínimo entre os componentes */
    margin: 10px;

}

.instancia-elemento.container {

    /* A borda serve para delimitar o espaço do componente, para que a composição
       fique inteligível ao usuário */
    border: 2px dashed gray;


    /* Este padding serve para que o título do elemento possa ser exibido acima dele */
    padding-top: 15px;

    /* Estes paddings laterais servem para que o usuário possa dropar elementos dos lados */
    padding-left: 15px;
    padding-right: 15px;

    /* Esta regra é necessária para que o título do componente possa flutuar sobre ele */
    position: relative;
}

.instancia-elemento.em-edicao {
    border: 5px dashed #4d215f;
}

.instancia-elemento-title {
    position: absolute;
    top: -10px;
    left: 10px;
    background: #fff;
    color: #000;
    display: inline-block;
    border: 1px dotted #ccc;
    padding: 0 3px;
}

.react-contextmenu-wrapper {
    display: flex;
    flex: 1;
}