.property-table {
    border-collapse: collapse;
}

.property-table__row {
    border-bottom: 1px solid #ececec;
}

.property-table__cell select {
    width: 100%;
    border: none;
    height: 30px;
}

.property-table__cell:first-child {
    padding: 5px 10px;
}

.property-table__cell:last-child {
    padding-right: 10px;
}

.property-table__cell input {
    height: 30px;
}