.side-panel {
    padding: 10px;
}

.side-panel__title {
    margin: 10px 0;
    display: flex;
    justify-content: space-between;
}

.side-panel__btn-fechar {
    background: none;
    color: #ad91b9;
    font-family: sans-serif;
    text-shadow: none;
    border: none;
    font-weight: 100;
    cursor: pointer;
    font-size: 16px;
}

